* {
  margin: 0;
  padding: 0;
}

html {
  background: #333;
  color: #bbb;
  font-family: Menlo;
}

.controls {
  text-align: left;
  top: 1em;
}

.button {
  color: #bbb;
  font-size: 2vw;
  margin: 0 0.5em;
  text-decoration: none;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
  color: white;
}

.stopwatch {
  font-size: 5vw;
  line-height: 10vh;
  text-align: left;
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}